html
  head
    title Coming soon
    style
      include  ../public/stylesheets/bootstrap.min.css
      include  ../public/stylesheets/freelancer.css
      include  ../public/stylesheets/freelancer.css





include error.html
    p #{message}
script
  include ../public/js/jquery.js
script
  include ../public/js/bootstrap.min.js
script
  include ../public/js/cbpAnimatedHeader.js
script
  include ../public/js/classie.js
script
  include ../public/js/contact_me.js
script
  include ../public/js/freelancer.js
script
  include ../public/js/jqBootstrapValidation.js
