body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.custom-nav{
    background-color: #222222 !important;
}

.custom-font-color{
    color: #fff !important;
}

.custom-title{
    color: #81a2c5;
}

.form-control.schedinput{
    height: 44px;
}